body {
  font-family: Arial, 'sans-serif';
  text-align: center;
  color: #333;
}

.chat-box {
  width: 400px;
  height:400px;
  overflow-y: scroll;
  border: 1px solid #ededed;
  padding: 22px;
  margin: 0 auto;
  text-align: left;
}

.chat-box .message-box {
  clear: both;
  margin-bottom: 20px;
}

.chat-box .author-avatar {
  background-size: contain;
}

.chat-box .author-avatar-box {
  float: left;
}

.chat-box .author-avatar img {
  padding-right: 8px;
}

.chat-box .user-message-box input {
  width: 400px
}

.chat-box .message-content {
  margin-left: 38px;
  margin-top: 5px;
}

/* avatar classes */

.avatar-1 {
  background-image: url(327831485a529268843844bbe87356f9.png);
}
.avatar-2 {
  background-image: url(b63953d5c5e0fb904701b1c5fe929687.png);
}
.avatar-3 {
  background-image: url(f8cc98702eada0ee562ee83b8be66dd2.png);
}
.avatar-4 {
  background-image: url(50bfe2e1ce51110e56aeb0d7c2cde685.png);
}
.avatar-5 {
  background-image: url(efade66d2d754884f9d953dcfe3c53f1.png);
}
.avatar-6 {
  background-image: url(bb8730b01e2e8f22b36248f6fd657716.png);
}
.avatar-7 {
  background-image: url(87570b326e09c6c7a960207561091c1c.png);
}
.avatar-8 {
  background-image: url(a9097d391df38fdf6e4a92d6f7771d46.png);
}
.avatar-9 {
  background-image: url(a3cad5d999e831a6734b7b5f5646af88.png);
}
.avatar-10 {
  background-image: url(1a8028f6a1a5177a4b173dc8620174a4.png);
}
.avatar-11 {
  background-image: url(6e02d7d63246fa3e327e7ddb7201bbc4.png);
}
.avatar-12 {
  background-image: url(d21b25e512a781715a5420ddc2988222.png);
}
.avatar-13 {
  background-image: url(cf00d2a59782af937cf7256c701a1656.png);
}
.avatar-14 {
  background-image: url(5093afec059579a3d8ccfe56c33d4815.png);
}
.avatar-15 {
  background-image: url(b641d96e049e780b0d6d739b82cd39a3.png);
}
.user {
  background-image: url(8942ed35f97fa271d3c322d30a47e806.png);
}

